@model GamesStore_11883_Client.Models.Game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Game</h2>



<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

<div class="pt-3">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @{
                string priceToDisplay = Model.Price == 0.00m ? "Free" : '$' + Model.Price.ToString();
            }
            @Html.DisplayFor(model => priceToDisplay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.PosterUrl)" width="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImgUrl)" width="100%" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Logo)" width="200" />
        </dd>

    </dl>


</div>
